/* Contains the styles for index.html */

@font-face {
    font-family: "Roboto";
    src: url(Roboto/Roboto-Regular.ttf);
}

html {
    font-family: "Roboto", serif;
}

/* For the main title of the notes */
.notesTitle {
    background-color: rgba(255, 165, 0, 0.3);
    color: rgb(78, 76, 77);
    text-decoration: underline;
    text-align: center;
}

/* For the major headers for each section of the notes */
.noteSection {
    background-color: hsla(39, 100%, 50%, 0.3);
    color: gray;
    text-decoration: underline;
    text-align: center;
}

/* only styles large laptop screens, and not small ones such as those found on mobile devices. */
@media only screen and (min-width: 1000px) {
    * {
        background-color: rgba(255, 228, 181, 0.08);
    }
}

#survey {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

#bonuses {
    margin: 1cm 1cm 1cm 1cm;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#fired {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
}